
.is-current {
 		background-color: black;
 		color: white;
}

article {
	display: block;
         padding-left: 30px;
	padding-right: 20px;
	border: 10px;
	position: relative;
	width: 90%
}

footer {
	
        padding-left: 30px; 
	padding-right: 20px;
	padding-bottom: 30px;    
      	top: 20px;
     	border: 3px;
      	position: relative;
	
}
body {

background: linear-gradient(to bottom, rgba(210,223,237,1) 0%,rgba(200,215,235,1) 26%,rgba(190,208,234,1) 51%,rgba(166,192,227,1) 51%,rgba(175,199,232,1) 62%,rgba(186,208,239,1) 75%,rgba(153,181,219,1) 88%,rgba(121,155,200,1) 100%);
color: black;
font-family: Georgia, Verdana, Arial;
	
}

p { color: black; font-family: "Helvetica Neue",Arial,sans-serif; font-size: 16px; font-weight: 500; line-height: 1.5000; margin-bottom: 15px; }

a { color: #fff; text-decoration: none; }

a:hover { color: #a03c21; }

figure {
    float: right;
    margin-left: 50px;
    margin-right: 50px;
}

   .imgid { padding:1px;
   border:1px solid #021a40;
   background-color:black;
	 
}
.container {
	
	display: grid;
	grid-template-rows: 40% 50%;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 2 auto;
	width: 200%;
	max-width: 1280px;
	
}

.slideshow {
	float: right;
	style="max-width: 1000px; margin-left: auto; margin-right: auto;
	border: 6px solid #021a40; 
	grid-cloumns: 2;
	}

.slider {
	grid-columns: 0;
}

