body {
	background-color: #DACFD0;
	font-family: 'Antic Slab', serif;
	display: grid;
	grid-template-columns: [left-margin] 7% [content-left] 53% [content-right] 33% [right-margin] 7%;
	grid-template-rows: [title-row] 20% [nav-row] 20% [content-row] 50% [footer-row] 10%;
}

body h1, h2, h3 {
	font-family: 'Coptic', serif;
}

header {
	grid-column: content-left/content-right;
	grid-row: title-row;
}

nav {
	grid-column: content-left;
	grid-row: nav-row;
}

 article {
	grid-column: content-left/content-right;
	grid-row: content-row;
}

.logo {
	background-color: #DACFD0;
}